
<a mat-raised-button color="warn" (click)="gotoaddnewservicepage()" class="add">Add New Service</a>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Service ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="ServiceName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Service Name </th>
    <td mat-cell *matCellDef="let element"> {{element.ServiceName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="PricePerHour">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Price Per Hour </th>
    <td mat-cell *matCellDef="let element"> {{element.PricePerHour}} </td>
  </ng-container>

  <ng-container matColumnDef="IsActive">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> IsActive </th>
    <ng-container *matCellDef="let element">
      <td mat-cell *ngIf="element.IsActive == true"> Active </td>
      <td mat-cell *ngIf="element.IsActive == false"> Inactive </td>
    </ng-container>
  </ng-container>

  <ng-container matColumnDef="Deactivate">
    <th mat-header-cell *matHeaderCellDef> Activate/Deactivate </th>
    <td mat-cell *matCellDef="let element">
      <a mat-raised-button color="warn" (click)="deactivate(element)"> Activate/Deactivate </a>
    </td>
  </ng-container>

 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="totalServices" [pageSize]="servicesPerPage" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onChangedPage($event)"></mat-paginator>


